.logoWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logoTextWrap { 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 210px;
}

.logoText {
  font-size: 15px;
}

.logoTextTwo {
  font-size: 13px;
}