.layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.link {
  color: $admin-accent;
  font-size: 14px;
  font-weight: 500;
  margin-top: -1.5rem;
  text-decoration: underline;
}
.message {
  width: 478px;
  font-size: 14px;
  font-weight: 500;

}
.button {
  margin-top: 1rem;
}

.modalStyle {
  position:absolute;
  top: 5px;
  padding: 48px;
  border: 1px solid #152340;
  border-radius: 10px;
  background: #FFF;

}

.headingStyle {
  color: var(--admin-text-main, #152340);
  text-align: start;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid var(--admin-purple, #C4B9FD);
  margin-bottom: 50px;
}

.popUpStyle {
  display:flex;
  column-gap: 28px;;

}

.textStyle {
  color: var(--admin-text-add, #26272D);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 478px;
}

